<section class="manageSection">
    <div class="container">
        <div class="manage">
            <h2>Manage positions on different exchanges from one window</h2>
        </div>
    </div>
</section>
