<div class="header">
    <div class="logo">
        <a href="#">
            <img src="#" alt="Capico logo" />
        </a>
    </div>
    <div class="lang">
        <select>
            <option value="EN">EN</option>
            <option value="RU">RU</option>
            <option value="KZ">KZ</option>
        </select>
    </div>
    <div class="menuBlock">
        <ul class="menu">
            <li class="menuItem"><a href="/features">features </a></li>
            <li class="menuItem"><a href="/prices">prices</a></li>
            <li class="menuItem"><a href="/partners">partners</a></li>
            <li class="menuItem"><a href="/knowledge">knowledge base </a></li>
            <li class="menuItem"><a href="/academy">academy</a></li>
            <li class="menuItem"><a href="/signup">sign up &rarr;</a></li>
        </ul>
    </div>
</div>
