---
import Partner from "./Partner/Partner.astro";

const partnersList = [
    { linkTo: "", imgUrl: "/public/promo/partners/bybit.png", altName: "bybit" },
    { linkTo: "", imgUrl: "/public/promo/partners/okx.png", altName: "okx" },
    { linkTo: "", imgUrl: "/public/promo/partners/exmo.png", altName: "exmo" },
    { linkTo: "", imgUrl: "/public/promo/partners/huobi.png", altName: "huobi" },
    { linkTo: "", imgUrl: "/public/promo/partners/ftx.png", altName: "ftx" },
    { linkTo: "", imgUrl: "/public/promo/partners/binance.png", altName: "binance" },
];
---

<section class="promoSection">
    <div class="container">
        <div class="promo">
            <div class="promoTitle">
                <h1>Crypto trading with bots and smart seals</h1>
                <a href="/signup">Sign up now</a>
            </div>
            <div class="subPromo">
                <h3>Trade for free on your favorite exchanges</h3>
                <div class="partners">
                    {
                        partnersList.map((item) => (
                            <Partner link={item.linkTo} imgUrl={item.imgUrl} altName={item.altName} />
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</section>
